/*****hasis*****/ 
/* #hasis(e2d79a3ca0c8814a) #css starts  */
.headere2d79a3ca0c8814a .head{ 
    color: #167CE9
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link {
    color: #33363D;
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .nav-link {
    color: #33363D;
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link:hover {
    color: #167CE9
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .nav-link:hover {
    color: #167CE9
}
.headere2d79a3ca0c8814a .button{
    background-color: #167CE9;
    color: white
}
/* #hasis(e2d79a3ca0c8814a) #css ends  */
/*****hasis*****/

/*****hailey*****/ 
/* #hailey(b4ddd9e9eed437a92) #css starts  */
.headerb4ddd9e9eed437a92 .logo-header .logo {
    display: none
}
.headerb4ddd9e9eed437a92 .logo-header .btn {
    padding: 6px 12px;
    font-weight: 600
}
.headerb4ddd9e9eed437a92 .logo-header .btn:hover {
    font-weight: 700;
    color: #FFF;
    background-color: #167CE9; 
    border-color: #167CE9
}
.headerb4ddd9e9eed437a92 .logo-header p{
    font-size: 20px
}
/* #hailey(b4ddd9e9eed437a92) #css ends  */
/*****hailey*****/

/*****festivale*****/
/* #festivale(formftgpsfus2yh) #css starts */  
.formftgpsfus2yh .fdb-block {
    padding: 7.5rem 0
 }

.formftgpsfus2yh .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #fff
     }

     .formftgpsfus2yh h1 {
        font-size: 32px
       }
       .formftgpsfus2yh .lead {
        font-size: 20px
    }
    .formftgpsfus2yh .btn-primary { 
        font-weight: 600;
        background-color: #167CE9;
        border-color: #167CE9
    }

    .formftgpsfus2yh .btn-primary:hover,
    .formftgpsfus2yh .btn-primary:not(:disabled):not(.disabled):active,
    .formftgpsfus2yh .btn-primary:focus{
        font-weight: 600;
        background-color: #167CE9;
        border-color: #167CE9
    }
/* #festivale(formftgpsfus2yh) #css starts */
/*****festivale*****/

/*****fashley*****/ 
/* #fashley(fashleyfe72oxbrcea) #css starts  */
.fashleyfe72oxbrcea .fdb-block {
    padding: 7.5rem 0
 }
/* #fashley(fashleyfe72oxbrcea) #css ends  */
/*****fashley*****/

/*****babak*****/
    /* #babak(d86660a7b05110db) #css starts  */

    .babakd86660a7b05110db .btn {   
        background-color: #167CE9;
        border-radius: 0px
    }
    /* #babak(d86660a7b05110db) #css ends  */
/*****babak*****/

/*****cade*****/
 /* #cade(af598102c9dad94e) #css starts  */
 .counteraf598102c9dad94e{
    padding: 4.5rem 0;
}
 .counteraf598102c9dad94e h2{
    color: #167CE9;
    font-size: 32px
}
/* #cade(af598102c9dad94e) #css ends  */
/*****cade*****/

/*****teddy*****/
    /* #teddy(testimonialprz03sp248l) #css starts  */
    .testimonialprz03sp248l{
        padding: 1.5rem 0
    }
    .testimonialprz03sp248l h1{
        font-size: 32px
    }
    .testimonialprz03sp248l .logo {
        max-width: 50px;
        margin-top: 15px
    }
    .testimonialprz03sp248l .mt-5{
        margin-top: 0rem!important
    }

    @media (min-width: 1200px){ 
    .testimonialprz03sp248l .pb-xl-5{
    padding-bottom: 0rem!important;
}
}
@media (min-width: 1200px) { 
.mt-xl-5, .my-xl-5 {
    margin-top: 1rem!important
}
}
    /* #teddy(testimonialprz03sp248l) #css ends  */
/*****teddy*****/

/*****basu*****/
/* #basu(d12294b36d7b134b) #css starts  */
.bannerd12294b36d7b134b .button {
background-color: #167CE9;
color: rgb(255, 255, 255);
margin-top: 20px
}
.bannerd12294b36d7b134b .button:hover {
color: rgb(255, 255, 255)
}
/* #basu(d12294b36d7b134b) #css ends  */
/*****basu*****/

/*****faye*****/
/* #faye(fayete8bna5e4lc) #css starts */
.fayete8bna5e4lc .fdb-block {
    padding: 5.5rem 0
}
.fayete8bna5e4lc a{
    color: #33363D;
    font-weight: 600
}
.fayete8bna5e4lc a:hover{
    color: #167CE9
}
.fayete8bna5e4lc h2{
    font-size: 20px;
    font-weight: 600
}
.fayete8bna5e4lc .fdb-block .fdb-box {
    padding: 0.75rem 2.5rem
}
.fayete8bna5e4lc .fdb-block .fdb-touch {
border-top: solid 0.3125rem #33363D
}
/* #faye(fayete8bna5e4lc) #css starts */
/*****faye*****/

/*****foot*****/
    /* #foot(footftkxsoham8f) #css starts */
.footftkxsoham8f h3{    
    margin-left: 15px;
    color: #33363D
}
.footftkxsoham8f h3 .social{
    margin-left: 5px
}
.footftkxsoham8f .headingT{
    margin-left: -4px
}
.footftkxsoham8f .nav .nav-link{
    color: #33363D
}
.footftkxsoham8f .nav-link:focus, 
.footftkxsoham8f .nav-link:hover {
    font-weight: bold;
}
.footftkxsoham8f .fab{
    color: #33363D
}
.footftkxsoham8f .lead {
    margin-left: 15px
}
    /* #foot(footftkxsoham8f) #css ends */
/*****foot*****/